/* دستورات استاندارد برای Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* استایل‌های پایه سفارشی */
body {
  margin: 0;
  padding: 0;
  direction: rtl; /* تنظیم جهت نوشتار به راست به چپ */
  font-family: Tahoma, 'Inter', sans-serif; 
}

/* اطمینان از اعمال استایل‌های اصلی در React */
#root {
  min-height: 100vh;
  width: 100%;
}
